/* components/SignUp.css */
.signup-container {
  display: flex;
  min-height: 70vh;
  background-color: #f7fafc;
}

.happenings {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7fafc;
}

.happenings img {
  max-width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.signup-frame {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: #e2e8f0;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  height: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: .2rem;
  text-align: center;
  color: rgb(255, 112, 67);
}

.signup-form {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.01rem; /* Reduced gap between form elements */
}

.form-group {
  width: auto;
  min-height: 55px;
  margin-bottom: 0.5rem; /* Reduced margin */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form input::placeholder {
  color: #999999;
  opacity: 0.6;
}



.signup-form input {
  width: 90%;
  padding: 0.25rem;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  border-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form button {
  width: 70%;
  margin: 0rem 0rem 0rem 0rem;
  display: block;
}

.signup-form button:hover {
  background-color: rgb(172, 58, 4);
}

.additional-links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.login-link {
  color: rgb(255, 112, 67);
  text-decoration: none;
  transition: color 0.3s;
}

.login-link:hover {
  color: rgb(172, 58, 4);
}

/* SignUp.css */
.error-text {
  color: #ff4444;
  font-size: 0.8rem;
  margin-top: 0rem;
  margin-bottom: 0.1rem;
}

.error-message {
  color: #ff4444;
  font-size: 0.8rem;
  margin-top: 0.25rem;
  padding: 0.25rem;
  line-height: 1.4;
  max-width: 250px;
  text-align: center;
  display: block;
  overflow-wrap: break-word;
  white-space: pre-line;
}

button.loading {
  opacity: 0.7;
  cursor: not-allowed;
}

button:disabled {
  background-color: #cccccc;
}
@media (max-width: 768px) {
  .happenings {
    display: none;
  }
  

  
}


